/*    Imported fonts*/
    @import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Yeon+Sung&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

    html {
      margin: 0;
      box-sizing: border-box;
    }


    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      font-family: 'PT Sans Narrow', sans-serif;
      position: relative;
    }

    #homepagetitle {
      font-family: 'Cinzel';
      font-size: 15pt;
      margin: 0 auto;
      padding: 0;
      font-weight: 600;
    }

    .navbar {
      box-shadow: 0 4px 12px 0px rgba(0, 0, 0, .30);
      background-color: rgba(136, 210, 210, 0.12);
    }

    #bannercontainer {
      background-color: rgba(138, 201, 203);
/*      background-size: 100% 100%;*/
      background-size: cover;
/*      min-height: 130px;*/
      box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .35);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
/*      max-height: 330px;*/
    }

    #bannerimage {
      /*
      height: 130px;
      width: 260px;
*/
      width: 80%;
/*      max-height: 195px;*/
      max-width: 280px;
      margin: 0 auto;
    }

    #bannercontainer h1 {
      font-size: 25pt;
      font-weight: 600;
      text-align: center;
      z-index: 1;
      position: relative;
      transform: translateY(20px)
    }

    #mycalendar img {
      height: 50px;
      width: 50px;
    }

    #coursecontainer {
      margin: 10px 10px;
      height: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 5px;
      justify-content: space-between
    }

    /*
        .courses {
            box-shadow: 0 3px 7px 0px rgba(0, 0, 0, .35);
            height: 25%;
            border-radius: 5px;
            width: 100%;
            margin: 0 auto;
            background-color: white;
            margin-bottom: 2px;
            display: flex;
            align-content: center;
            justify-content: space-around;
            border-style: solid;
            border-color: rgba(136, 210, 210, 0.6);
            border-left-width: 2px;
            border-right-width: 2px;
        }
*/

    .courseitems {
      width: 48%;
      padding-top: 50%;
      border-radius: 2px;
      background-color: rgba(136, 210, 210, 0.20);
      position: relative;
      box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .15);
      margin-bottom: 15px;
    }

    .courseitems p {
      font-weight: 600;
      font-size: 20pt;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-27.7px, -40px);
      text-align: center;
      
    }

    #mycalendar {
      transform: translate(-40.5px, -20px);
    }

    #maincontainer {
      /*            background-color: rgba(136, 210, 210, 0.30);*/

    }

    #calendarcontainer {
      margin-top: 35px;
      margin-bottom: -65px;
      z-index: 1;
    }

    #calendarinnercontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      box-shadow: 0 4px 12px 0px rgba(0, 0, 0, .35);
      height: 10%;
      border-radius: 5px;
      width: 20%;
      border-style: solid;
      border-color: white;
      border-width: 2.5px;
      background-color: rgba(136, 210, 210, 0.5);
    }

    #calendarinnercontainer h2 {
      font-size: 10pt;
      font-weight: 600;
      text-align: center;
    }

    #calendarimg {
      display: block;
      width: 30%;
      margin-top: -5px;
      margin-bottom: 5px;
    }

    #footer {
      width: 100%;
    }

    #footertext {
      text-align: center;
      padding-bottom: 5px;
      margin: 0;
    }

    #copyright {
      width: 25px;
    }


    @media screen and (min-width: 450px) {
      #coursecontainer {
        justify-content: flex-start;
      }

      .courseitems {
        width: 31%;
        padding-top: 31%;
        margin: 1.1%;
      }
    }

    @media screen and (min-width: 750px) {
      #coursecontainer {
        justify-content: flex-start;
      }

      .courseitems {
        width: 22%;
        padding-top: 22%;
        margin: 1.5%;
      }

      #bannercontainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
      }

      #bannerimage {
        max-width: 300px;
        margin: 0;
      }

      #bannercontainer h1 {
        min-width: 60%;
        font-size: 40pt;
      }
    }

    @media screen and (min-width: 1000px) {
      #bannercontainer {
        width: 60%;
        height: 100vh;
        flex-direction: column;
        max-height: 100vh;
      }

      #bannercontainer {
        box-shadow: none;
      }

      #bannerimage {
        min-width: 100%;
        height: auto;
      }

      #maincontainer {
        display: flex;
        background-color: rgba(138, 201, 203);
        align-items: center;
      }

      #coursecontainer {
        width: 500px;
        height: 500px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .15);
        margin-right: 30px;

      }

      .courseitems {
        width: 31%;
        padding-top: 31%;
        margin: 1.1%;
      }


    }