
label {
    
    font-weight: bold;
    
}
form {
    margin: 30px;
    font-size: 20px;
    
}
#content {
    background-color: azure;
    width: 100%;    
    background-size: contain;
    height: 750px;
}
    
#deskwork {
    width: 100%;
    height: 20%;
}
#ok {
    font-size: 22px;
    padding: 4px;
    
}

#postButton {
    margin-top: 20px;
    font-size: 22px;
}


@media only screen and (min-width: 700px) {
    #deskwork {
        width: 100%;
        height: 100%;
    }
}
    
    












#start {
    
}
